body {
  background: url(/img/fenya/mcuMavJ6pbI.jpg) no-repeat;
  background-size: 99%;
}
.title {
  font-size: 20px;

  line-height: 36px;

  color: #000;
}

.title span {
  padding: 0 10px;

  background: rgba(37, 219, 237, 0.8);
}
