body {
  background: url(/img/hardplay/ac8438bf404ac02_730x400.jpg) no-repeat;
  background-size: 100%;
}
.title {
  font-size: 20px;

  line-height: 36px;

  color: #000;
}

.title span {
  padding: 0 10px;

  background: rgba(37, 219, 237, 0.8);
}
